body{
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
}
a:link{
    color:black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#container{
    width:1280px;
    margin:0px auto;
    margin-top: 20px;
}

#header{
    display: flex;
    width:100%;
    margin-bottom: 40px;
}

#left-header, #right-header{
    flex-grow:1;
}

#right-header{
    display: flex;
    justify-content: flex-end;
}

#right-header div{
    margin-left:30px;
}

#right-header input{
    border:none;
    border-bottom:solid 1px black;
}

#navigation{
    margin-bottom: 20px;
}

#navigation ul{
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
    justify-content: space-between;
}

#featured img{
    max-width: 100%;
    
}

#featured-products{
    margin-top:20px;
    display: flex;
    justify-content: space-between;
}

.featured-product-box{
    text-align: center;
}

.featured-product-box h3{
    font-weight: 500;
}

#best-sellers{
    border-top:solid 1px gray;
    border-bottom:solid 1px gray;
    margin: 20px 0;
    padding: 20px 0;
    text-align: center;
}

#best-sellers-container{
    display: flex;
    justify-content: space-between;
}

#best-sellers-container img{
    max-width: 80%;
}

#shipping{
    background-color: black;
    color:white;
    display: flex;
    justify-content: center;
    padding-bottom:40px;
    padding-top: 20px;
    margin: 0;
}

#shipping a:link{
    color:white;
    padding:8px 20px;
    border:solid 1px white;

}

#footer{
    background-color: lightgrey;
    padding: 40px 0;
    text-align: center;
}

#newsletter{
    text-align: center;
    display: flex;
    justify-content: center;
}

#newsletter input{
    width: 400px;
    height: 40px;
    border:none;
}

.newsletter-form{
    background-color: white;
    width:480px;
    padding: 10px;
}

.newsletter-form button{
    background-color: white;
    border: none;
}

#social-media ul{
    list-style: none;
}

#social-media li{
    display: inline;
    margin-right: 20px;
}