body{
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
}
a:link{
    color:black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#container{
    width:1280px;
    margin:0px auto;
    margin-top: 20px;
}

#header{
    display: flex;
    width:100%;
    margin-bottom: 40px;
}

#left-header, #right-header{
    flex-grow:1;
}

#right-header{
    display: flex;
    justify-content: flex-end;
}

#right-header div{
    margin-left:30px;
}

#right-header input{
    border:none;
    border-bottom:solid 1px black;
}

#navigation{
    margin-bottom: 20px;
}

#navigation ul{
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
    justify-content: space-between;
}

#featured img{
    max-width: 100%;
    
}

#featured-products{
    margin-top:20px;
    display: flex;
    justify-content: space-between;
}

.featured-product-box{
    text-align: center;
}

.featured-product-box h3{
    font-weight: 500;
}

#best-sellers{
    border-top:solid 1px gray;
    border-bottom:solid 1px gray;
    margin: 20px 0;
    padding: 20px 0;
    text-align: center;
}

#best-sellers-container{
    display: flex;
    justify-content: space-between;
}

#best-sellers-container img{
    max-width: 80%;
}

#shipping{
    background-color: black;
    color:white;
    display: flex;
    justify-content: center;
}